<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image randomize-bg-image-home" data-parallax="true" style="background-image: url('/img/bg6.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Welcome...</h1>
        <div class="text-center">
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fa fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Take a look around...</h2>
          <h5 class="description">Just my portfolio site I whipped up using Mongodb, Express.js, AngularJS, and Node. However, I am going to warn you now, this site is continuously under development. So you may run into a few dead links. Sorry in advance!</h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container image-left randomize-bg-image-1" style="background-image: url('/img/login.jpg')">
              <!-- First image on the left side -->
              <p class="blockquote blockquote-primary">"Jon is brilliant. Always happy and always laughing."
                <br>
                <br>
                <small>-MOM</small>
              </p>
            </div>
            <!-- Second image on the left side of the article -->
            <div class="image-container randomize-bg-image-2" style="background-image: url('/img/bg3.jpg')"></div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div class="image-container image-right randomize-bg-image-3" style="background-image: url('/img/bg1.jpg')">
            </div>
            <h3>Here, have some music</h3>
            <p>
              <iframe src="https://open.spotify.com/embed/user/12101386487/playlist/0GAXlONL5mcpL4yQkZqLks" width="400" height="380" frameborder="0" allowtransparency="true"></iframe>
            </p>
            <h3>and some more...</h3>
            <p>
              <iframe src="https://open.spotify.com/embed/user/12101386487/playlist/1kRt5jkVb2EpzA1ESNmOmZ" width="400" height="380" frameborder="0" allowtransparency="true"></iframe>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <contact-me></contact-me>
