<link rel="stylesheet" href="/css/card.css">

<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image randomize-bg-image" data-parallax="true" style="background-image: url('/img/bg5.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <div class="photo-container">
          <img src="/img/jon.jpg" alt="">
        </div>
        <h3 class="title">Jon Lambson</h3>
        <p class="category text-primary">Jr. Full Stack Developer</p>
        <div class="content">
          <div class="social-description">
            <h2>3</h2>
            <p>Years Coding</p>
          </div>
          <div class="social-description">
            <h2 class="count2">118</h2>
            <p>Github Repositories</p>
          </div>
          <div class="social-description">
            <h2 class="count">1234567</h2>
            <p>Lines of Code</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="section skills-section text-center">
        <div class="button-container">
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-javascript-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-jquery-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-react-original"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-ruby-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-rails-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-angularjs-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-photoshop-line"></i>
          </a>
          <a href="#/resume" class="btn btn-primary btn-round btn-lg" rel="tooltip" title="Checkout My Resume" data-original-title="Checkout My Resume">Skills</a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-illustrator-line"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-github-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-bootstrap-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-atom-original"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-nodejs-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-mongodb-plain"></i>
          </a>
          <a href="" class="btn btn-default btn-round btn-lg btn-icon no-click">
            <i class="devicon-postgresql-plain"></i>
          </a>
        </div>
      </div>
      <h3 class="title">About me</h3>
      <h5 class="description">My name is Jon Lambson and I am an aspiring full stack web developer and IoT developer from Pleasant Grove, Utah. I am currently still going through college. I have been attending off and on do to a hectic work and personal life schedule. I hope to graduate with a bachelor’s degree in Computer Science from Utah Valley University. Unfortunaly, I do not have an expected graduation date since I haven't been able to focus on my schooling. I plan to go back as soon as possilbe and finish out my degree. I love being creative, whether that means drawing, painting, playing the violin/guitar/piano, etc. I have a very strong desire to create something beautiful.</h5>
      <h5 class="description">Recently, I have taken an interest to IoT development and am still in the very beginner stages (but you gotta start somewhere, right?!). I really enjoy building projects with Raspberry Pi's and Aruduino's. <code>sudo apt-get blah</code> is cool and all, but learning how the project is built from the ground up is where it's at! Currently, I am attempting to learn Electron to rebuild my custom version of Magic Mirror² from the ground up. I have a check list of IoT type projects I want to build as a hobby. Join me on my journey.</h5>
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <h4 class="title text-center">My Portfolio</h4>
        </div>
        <!-- Tab panes -->
        <div class="tab-content gallery">
          <div class="tab-pane active" id="home" role="tabpanel">
            <div class="col-md-10 ml-auto mr-auto">
              <div class="row collections">
                <div class="col-md-6">
                  <div class="card-box">
                    <div class="card">
                      <div class="header" style="background-image: url('/img/cards.jpg'); background-position: center center; background-size: cover;">
                        <img src="/img/cards.jpg"/>
                        <div class="filter"></div>

                        <div class="actions">
                          <button class="btn btn-round btn-fill btn-neutral btn-modern" ng-click="goToProject('war')">
                            View Project
                          </button>
                        </div>
                      </div>

                      <div class="content">
                        <h6 class="category text-info">Javascript</h6>
                        <h4 class="title"><a href="#/war-game">War Game</a></h4>
                        <p class="description">The deck is divided evenly, with each player receiving 26 cards, dealt one at a time, face down. Anyone may deal first. Each player places his stack of cards face down, in front of him...</p>
                      </div>
                    </div> <!-- end card -->
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-box">
                    <div class="card card-with-border" data-background="image" data-src="/img/todo.jpg" style="background-image: url('/img/todo.jpg'); background-position: center center; background-size: cover;">
                      <div class="header">
                      </div>

                      <div class="content text-center">
                        <p class="description">A simple to do app built with Elm.</p>
                      </div>
                      <p class="text-info"></p>
                      <div class="footer text-center">
                        <a href="" class="btn btn-info btn-fill btn-round">Coming Soon</a>
                      </div>
                      <div class="filter"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-box">
                    <div class="card card-with-border" data-background="image" data-src="https://d13yacurqjgara.cloudfront.net/users/112483/screenshots/3286649/dribbble_final.gif" style="background-image: url('https://d13yacurqjgara.cloudfront.net/users/112483/screenshots/3286649/dribbble_final.gif'); background-position: center center; background-size: cover;">
                      <div class="header">
                      </div>

                      <div class="content text-center">
                        <p class="description">Weather forecast app build with React and Redux. <br><br><span class="text-danger" style="font-size: 10px;">*That image isn't mine, nor does my app look like that. Just thought it was beautiful work. Credit goes to https://dribbble.com/samborek.</span></p>
                      </div>
                      <p class="text-info"></p>
                      <div class="footer text-center">
                        <a href="" class="btn btn-danger btn-fill btn-round">Coming Soon</a>
                      </div>
                      <div class="filter"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-box">
                    <div class="card">
                      <div class="header" style="background-image: url('/img/music.jpg'); background-position: center center; background-size: cover;">
                        <img src="/img/music.jpg"/>
                        <div class="filter"></div>

                        <div class="actions">
                          <button class="btn btn-round btn-fill btn-neutral btn-modern">
                            Coming Soon
                          </button>
                        </div>
                      </div>

                      <div class="content">
                        <h6 class="category text-info">NodeJS</h6>
                        <h4 class="title"><a href="">Album Music Manager</a></h4>
                        <p class="description">Manager your music. Built with NodeJS.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
