<div class="resume-page">
  <div class="login-page sidebar-collapse">
    <div class="page-header" filter-color="orange">
      <div class="page-header-image randomize-bg-image" style="background-image:url(/img/bg3.jpg)"></div>
      <div class="container">
        <div class="content-center">
          <img class="img-raised resume-png" src="/img/JonLambsonResume.png" alt="Resume">
        </div>
      </div>
    </div>
  </div>
</div>
<style media="screen">
  .page-header .container>.content-center {
    top: 90%;
  }
  .page-header .page-header-image {
    height: 170%;
  }
  footer.footer.footer-default {
    margin-top: 540px;
  }
  .page-header:after, .page-header:before {
    height: 170%;
  }
</style>
